Repository wunderfrucht/gouqi-mcp-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

rustfmt:
  name: rustfmt
  entry: cargo fmt
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: cargo-check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features

cargo-test:
  name: cargo-test
  entry: cargo test
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features

cargo-audit:
  name: cargo-audit
  entry: bash -c 'if command -v cargo-audit >/dev/null 2>&1; then cargo audit; else echo "cargo-audit not installed, skipping security audit"; fi'
  language: system
  pass_filenames: false

feat: add labels and components management tools
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/semantic_mapping.rs
  jira-mcp-server/src/tools/components.rs
  jira-mcp-server/src/tools/labels.rs
  jira-mcp-server/src/tools/mod.rs
  jira-mcp-server/src/tools/search_issues.rs
  jira-mcp-server/tests/test_labels_and_components.rs
Due: rustfmt, clippy, cargo-check, cargo-test

chore: bump version to 0.8.0 for labels and components release
  jira-mcp-server/Cargo.toml
  jira-mcp-server/src/lib.rs
Due: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

feat: add sprint management, issue linking, and test infrastructure
  jira-mcp-server/Cargo.toml
  jira-mcp-server/src/tools/issue_links.rs
  jira-mcp-server/src/tools/sprints.rs
  jira-mcp-server/tests/common/mod.rs
  jira-mcp-server/tests/test_ai_agent_scenarios.rs
  jira-mcp-server/tests/test_issue_links.rs
  jira-mcp-server/tests/test_issue_operations.rs
  jira-mcp-server/tests/test_real_jira_integration.rs
  jira-mcp-server/tests/test_search_issues.rs
  jira-mcp-server/tests/test_sprints.rs
  jira-mcp-server/tests/test_todo_tracker.rs
  jira-mcp-server/tests/test_user_issues.rs
  jira-mcp-server/tests/verify_link_created.rs
Due: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

fix: apply rustfmt and clippy fixes for CI
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/components.rs
  jira-mcp-server/src/tools/issue_links.rs
  jira-mcp-server/src/tools/labels.rs
  jira-mcp-server/src/tools/search_issues.rs
  jira-mcp-server/src/tools/sprints.rs
  jira-mcp-server/tests/common/mod.rs
  jira-mcp-server/tests/test_ai_agent_scenarios.rs
  jira-mcp-server/tests/test_labels_and_components.rs
  jira-mcp-server/tests/test_todo_tracker.rs
Due: rustfmt, clippy, cargo-check, cargo-test

ci: add JIRA secrets to test jobs
  .github/workflows/ci.yml
Due: none

fix: correct parameter names in scenario tests
  jira-mcp-server/tests/test_ai_agent_scenarios.rs
Due: rustfmt, clippy, cargo-check, cargo-test

fix: upgrade pulseengine-mcp to 0.13.0 for proper JSON serialization
  Cargo.toml
Due: cargo-audit

fix: correct JSON path for status field in scenario test
  jira-mcp-server/tests/test_ai_agent_scenarios.rs
Due: rustfmt, clippy, cargo-check, cargo-test

fix(worklog): enhance error handling and upgrade gouqi to v0.19.1
  jira-mcp-server/Cargo.toml
  jira-mcp-server/src/jira_client.rs
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/labels.rs
  jira-mcp-server/tests/test_labels_and_components.rs
  jira-mcp-server/tests/test_todo_tracker.rs
Due: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

feat(bulk): add bulk operations with retry logic and exponential backoff
  comprehensive_test.sh
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/bulk_operations.rs
  jira-mcp-server/src/tools/create_issue.rs
  jira-mcp-server/src/tools/mod.rs
  jira-mcp-server/src/tools/rate_limiter.rs
  jira-mcp-server/tests/test_bulk_operations.rs
  jira-mcp-server/tests/test_bulk_rate_limits.rs
  jira-mcp-server/tests/test_bulk_validation.rs
  jira-mcp-server/tests/test_rate_limit_comparison.rs
  jira-mcp-server/tests/test_retry_threshold.rs
  pytest.ini
  quick_test.sh
  simple_direct_test.sh
  test_search.py
  test_tools.sh
  tests/README.md
  tests/TESTING_STATUS.md
  tests/conftest.py
  tests/requirements.txt
  tests/test_issues.py
  tests/test_search.py
  tests/test_user_issues.py
Due: rustfmt, clippy, cargo-check, cargo-test

fix: add missing imports to rate_limiter doc test
  jira-mcp-server/src/tools/rate_limiter.rs
Due: rustfmt, clippy, cargo-check, cargo-test

refactor: remove redundant test files and consolidate bulk operation tests
  .gitignore
  comprehensive_test.sh
  jira-mcp-server/tests/test_ai_agent_scenarios.rs
  jira-mcp-server/tests/test_bulk_validation.rs
  jira-mcp-server/tests/test_issue_links.rs
  jira-mcp-server/tests/test_issue_operations.rs
  jira-mcp-server/tests/test_rate_limit_comparison.rs
  jira-mcp-server/tests/test_sprints.rs
  pytest.ini
  quick_test.sh
  simple_direct_test.sh
  test_search.py
  test_tools.sh
  tests/README.md
  tests/TESTING_STATUS.md
  tests/conftest.py
  tests/requirements.txt
  tests/test_issues.py
  tests/test_search.py
  tests/test_user_issues.py
Due: rustfmt, clippy, cargo-check, cargo-test

chore: bump version to 0.9.0 for bulk operations release
  jira-mcp-server/Cargo.toml
Due: cargo-audit

feat(sprints): add sprint lifecycle management tools
  IMPLEMENTATION_COMPLETE.md
  SAFE_CUSTOM_FIELDS_GUIDE.md
  SAFE_SPRINT_MANAGEMENT_ANALYSIS.md
  SPRINT_LIFECYCLE_REGISTRATION.md
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/sprints.rs
  jira-mcp-server/tests/test_sprint_lifecycle.rs
Due: rustfmt, clippy, cargo-check, cargo-test

feat(attachments): implement upload and fix download with filesystem support
  IMPLEMENTATION_COMPLETE.md
  SAFE_CUSTOM_FIELDS_GUIDE.md
  SAFE_SPRINT_MANAGEMENT_ANALYSIS.md
  SPRINT_LIFECYCLE_REGISTRATION.md
  jira-mcp-server/Cargo.toml
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/download_attachment.rs
  jira-mcp-server/src/tools/mod.rs
  jira-mcp-server/src/tools/upload_attachment.rs
  jira-mcp-server/tests/test_attachments.rs
Due: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

fix: shorten keyword to meet crates.io 20-char limit
  jira-mcp-server/Cargo.toml
Due: cargo-audit

fix: update repository URL to correct GitHub location
  jira-mcp-server/Cargo.toml
Due: cargo-audit

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
