Repository wunderfrucht/gouqi-mcp-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

rustfmt:
  name: rustfmt
  entry: cargo fmt
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: cargo-check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features

cargo-test:
  name: cargo-test
  entry: cargo test
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features

cargo-audit:
  name: cargo-audit
  entry: bash -c 'if command -v cargo-audit >/dev/null 2>&1; then cargo audit; else echo "cargo-audit not installed, skipping security audit"; fi'
  language: system
  pass_filenames: false

feat: add JIRA attachment tools with comprehensive functionality
  Cargo.toml
  jira-mcp-server/Cargo.toml
  jira-mcp-server/src/jira_client.rs
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/download_attachment.rs
  jira-mcp-server/src/tools/issue_details.rs
  jira-mcp-server/src/tools/list_attachments.rs
  jira-mcp-server/src/tools/mod.rs
  jira-mcp-server/src/tools/search_issues.rs
  jira-mcp-server/src/tools/user_issues.rs
Due: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

feat: add JIRA comment and relationship tools with gouqi integration
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/npm-publish.yml
  .gitignore
  .npmignore
  CONTRIBUTING.md
  Cargo.toml
  LICENSE
  PUBLISHING.md
  README.md
  jira-mcp-server/Cargo.toml
  jira-mcp-server/src/jira_client.rs
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/add_comment.rs
  jira-mcp-server/src/tools/issue_relationships.rs
  jira-mcp-server/src/tools/mod.rs
  npm/.npmignore
  npm/index.js
  npm/install.js
  npm/package.json
  npm/run.js
  npm/uninstall.js
  package.json
  platform-packages/darwin-arm64/index.js
  platform-packages/darwin-arm64/package.json
  platform-packages/darwin-x64/index.js
  platform-packages/darwin-x64/package.json
  platform-packages/linux-x64/index.js
  platform-packages/linux-x64/package.json
  platform-packages/win32-x64/index.js
  platform-packages/win32-x64/package.json
  scripts/postinstall.js
  scripts/prepare-dist.js
  scripts/test-integration.js
  template-mcp-server/Cargo.toml
  template-mcp-server/src/lib.rs
  template-mcp-server/src/main.rs
Due: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

chore: upgrade to pulseengine-mcp 0.11.0 and bump version to 0.2.0
  Cargo.toml
  jira-mcp-server/Cargo.toml
Due: cargo-audit

fix: add parameter validation to reject unknown fields
  jira-mcp-server/src/tools/add_comment.rs
  jira-mcp-server/src/tools/download_attachment.rs
  jira-mcp-server/src/tools/issue_details.rs
  jira-mcp-server/src/tools/issue_relationships.rs
  jira-mcp-server/src/tools/list_attachments.rs
  jira-mcp-server/src/tools/search_issues.rs
  jira-mcp-server/src/tools/user_issues.rs
Due: rustfmt, clippy, cargo-check, cargo-test

fix: update npm workflow to use jira-mcp-server instead of template
  .github/workflows/npm-publish.yml
Due: none

fix: update npm package names from template to jira-mcp-server
  npm/index.js
  npm/install.js
  npm/package.json
  npm/run.js
  platform-packages/darwin-arm64/index.js
  platform-packages/darwin-arm64/package.json
  platform-packages/darwin-x64/index.js
  platform-packages/darwin-x64/package.json
  platform-packages/linux-x64/index.js
  platform-packages/linux-x64/package.json
  platform-packages/win32-x64/index.js
  platform-packages/win32-x64/package.json
Due: none

fix: implement comments, attachments, and history fetching for issues
  jira-mcp-server/src/jira_client.rs
Due: rustfmt, clippy, cargo-check, cargo-test

feat: implement recursive issue relationship graph using gouqi
  jira-mcp-server/src/jira_client.rs
  jira-mcp-server/src/tools/issue_relationships.rs
Due: rustfmt, clippy, cargo-check, cargo-test

chore: bump version to 0.3.0
  jira-mcp-server/Cargo.toml
Due: cargo-audit

ci: add comprehensive CI workflow for PRs
  .github/workflows/ci.yml
Due: none

fix: resolve CI workflow issues
  .github/workflows/ci.yml
  .secrets.baseline
Due: none

fix: mark example password as allowlisted secret
  README.md
Due: none

fix: remove unnecessary npm install step in publish workflow
  .github/workflows/npm-publish.yml
Due: none

feat: add issue description updates and parent/epic filtering
  jira-mcp-server/Cargo.toml
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/semantic_mapping.rs
  jira-mcp-server/src/tools/mod.rs
  jira-mcp-server/src/tools/search_issues.rs
  jira-mcp-server/src/tools/update_description.rs
Due: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

fix: enable recursive relationship traversal beyond one level
  jira-mcp-server/src/tools/issue_relationships.rs
Due: rustfmt, clippy, cargo-check, cargo-test

feat: add issue transition tools and comment debugging
  jira-mcp-server/Cargo.toml
  jira-mcp-server/src/jira_client.rs
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/mod.rs
  jira-mcp-server/src/tools/transitions.rs
Due: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

feat(todo-tracker): add comprehensive todo tracking with worklog integration
  jira-mcp-server/Cargo.toml
  jira-mcp-server/src/jira_client.rs
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/mod.rs
  jira-mcp-server/src/tools/todo_tracker.rs
  jira-mcp-server/src/tools/update_description.rs
Due: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

feat: add custom fields and enhanced todo time tracking
  jira-mcp-server/Cargo.toml
  jira-mcp-server/src/jira_client.rs
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/get_custom_fields.rs
  jira-mcp-server/src/tools/mod.rs
  jira-mcp-server/src/tools/todo_tracker.rs
  jira-mcp-server/src/tools/update_custom_fields.rs
Due: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

fix: make todo IDs stable regardless of line position
  jira-mcp-server/src/tools/todo_tracker.rs
Due: rustfmt, clippy, cargo-check, cargo-test

feat: add assign_issue tool for automated testing
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/assign_issue.rs
  jira-mcp-server/src/tools/mod.rs
  simple_test.sh
  test_server.py
Due: rustfmt, clippy, cargo-check, cargo-test

feat: add issue creation tools with metadata discovery
  CREATE_ISSUE_EXAMPLES.md
  METADATA_WORKFLOW.md
  jira-mcp-server/src/jira_client.rs
  jira-mcp-server/src/lib.rs
  jira-mcp-server/src/tools/create_issue.rs
  jira-mcp-server/src/tools/get_create_metadata.rs
  jira-mcp-server/src/tools/mod.rs
  simple_test.sh
Due: rustfmt, clippy, cargo-check, cargo-test

test: update test scripts for new issue creation tools
  simple_test.sh
  test_create_issue.sh
Due: none

fix: resolve JQL syntax errors in search_issues and get_user_issues
  jira-mcp-server/Cargo.toml
  jira-mcp-server/src/semantic_mapping.rs
  jira-mcp-server/src/tools/user_issues.rs
Due: rustfmt, clippy, cargo-check, cargo-test, cargo-audit

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
